[submodule ".registry"]
	path = .registry
	url = https://github.com/brownag/brownag.r-universe.dev
	branch = HEAD
[submodule "SSURGOPortal"]
	path = SSURGOPortal
	url = https://github.com/brownag/SSURGOPortalR
[submodule "gpkg"]
	path = gpkg
	url = https://github.com/brownag/gpkg
[submodule "rapr"]
	path = rapr
	url = https://github.com/brownag/rapr
[submodule "rgeedim"]
	path = rgeedim
	url = https://github.com/brownag/rgeedim
[submodule "rgeomorphon"]
	path = rgeomorphon
	url = https://github.com/brownag/rgeomorphon
[submodule "rgeowheels"]
	path = rgeowheels
	url = https://github.com/brownag/rgeowheels
