[submodule ".registry"]
	path = .registry
	url = https://github.com/brownag/brownag.r-universe.dev
	branch = HEAD
[submodule "jNSMR"]
	path = jNSMR
	url = https://github.com/ncss-tech/jNSMR
[submodule "rgeedim"]
	path = rgeedim
	url = https://github.com/brownag/rgeedim
[submodule "rosettaPTF"]
	path = rosettaPTF
	url = https://github.com/ncss-tech/rosettaPTF
[submodule "whitebox"]
	path = whitebox
	url = https://github.com/opengeos/whitebox
